extends ../partials/_layout

block content
  section#sponsors
    .container
      div(style='text-align: center;')
          h2.title Sponsors
          span.border
      div.large-wrapper
          each val, index in sponsors.gold
              .wrapper
                .main-box
                  .img-box
                    .overlay
                      p.intro-text.text-center !{val.description.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}
                      a(href=val.link)
                        span.visit
                          span Visit
                    img.img-responsive(src=val.logo, alt='')
                  .text-box.text-center
                    h5.nopadding.title #{val.company}
                    p.subtext #{val.en_company}

block js
  script.
    setTimeout(function(){
      document.querySelectorAll('#navbar ul li')[5].classList.add('active');
    }, 0);

block css
  style(type='text/css').
    
